## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Carnarvon,AU,86.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon
1,3,Atuona,PF,78.93,scattered clouds,-9.8000,-139.0333,Villa Enata
2,4,Hilo,US,77.79,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,6,Isangel,VU,86.11,light rain,-19.5500,169.2667,Tanna Lodge
4,16,Butaritari,KI,81.84,overcast clouds,3.0707,172.7902,Isles Sunset Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F </dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Murray Bridge']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Murray Bridge']
vacation_stop1 = vacation_df.loc[vacation_df['City'] =='Mildura']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Broken Hill'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] =='Port Pirie']
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,34,Murray Bridge,AU,89.35,overcast clouds,-35.1167,139.2667,Balcony On Sixth Lodge

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [tuple(r) for r in vacation_start[['Lat','Lng']].to_numpy()]
start = start [0]
end = [tuple(r) for r in vacation_end[['Lat','Lng']].to_numpy()]
end = end [0]
stop1 = [tuple(r) for r in vacation_stop1[['Lat','Lng']].to_numpy()]
stop1 = stop1 [0]
stop2 = [tuple(r) for r in vacation_stop2[['Lat','Lng']].to_numpy()]
stop2 = stop2 [0]
stop3 = [tuple(r) for r in vacation_stop3[['Lat','Lng']].to_numpy()]
stop3 = stop3 [0]

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
AU_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(AU_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end])
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,34,Murray Bridge,AU,89.35,overcast clouds,-35.1167,139.2667,Balcony On Sixth Lodge
60,210,Mildura,AU,87.08,overcast clouds,-34.2000,142.1500,Mercure Hotel Mildura
105,396,Broken Hill,AU,81.97,overcast clouds,-31.9500,141.4333,Royal Exchange Hotel
54,183,Port Pirie,AU,86.83,overcast clouds,-33.1833,138.0167,John Pirie Motor Inn
8,34,Murray Bridge,AU,89.35,overcast clouds,-35.1167,139.2667,Balcony On Sixth Lodge

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F </dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
locations = start, stop1, stop2, stop3, end
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))